In [40]:
import pandas as pd

In [41]:
dados = {
    'Times': ['Flamengo', 'Palmeiras', 'São Paulo', 'Santos', 'Corinthians'],
    'Partidas_Jogadas': [10, 10, 10, 10, 10],
    'Vitorias': [7, 5, 6, 4, 3],
    'Empates': [2, 3, 1, 3, 2],
    'Derrotas': [1, 2, 3, 3, 5],
    'Gols_Pro': [22, 18, 16, 14, 10],
    'Gols_Contra': [10, 12, 15, 16, 20]
}

df = pd.DataFrame(dados)
df

,Times,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra
0,Flamengo,10,7,2,1,22,10
1,Palmeiras,10,5,3,2,18,12
2,São Paulo,10,6,1,3,16,15
3,Santos,10,4,3,3,14,16
4,Corinthians,10,3,2,5,10,20

Gerando nova coluna 'Saldo_Gols'
- Gols_Pro * Gols_Contra

In [42]:
df['Saldo_Gols'] = df['Gols_Pro'] - df['Gols_Contra']
df

,Times,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols
0,Flamengo,10,7,2,1,22,10,12
1,Palmeiras,10,5,3,2,18,12,6
2,São Paulo,10,6,1,3,16,15,1
3,Santos,10,4,3,3,14,16,-2
4,Corinthians,10,3,2,5,10,20,-10

Gerando nova coluna 'Pontos'
- Vitorias * 3 + Empates

In [43]:
df['Pontos'] = (df['Vitorias'] * 3) + (df['Empates'])
df

,Times,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
0,Flamengo,10,7,2,1,22,10,12,23
1,Palmeiras,10,5,3,2,18,12,6,18
2,São Paulo,10,6,1,3,16,15,1,19
3,Santos,10,4,3,3,14,16,-2,15
4,Corinthians,10,3,2,5,10,20,-10,11

Ordenando a lista por pontos

In [44]:
df = df.sort_values(by='Pontos', ascending=False)
df

,Times,Partidas_Jogadas,Vitorias,Empates,Derrotas,Gols_Pro,Gols_Contra,Saldo_Gols,Pontos
0,Flamengo,10,7,2,1,22,10,12,23
2,São Paulo,10,6,1,3,16,15,1,19
1,Palmeiras,10,5,3,2,18,12,6,18
3,Santos,10,4,3,3,14,16,-2,15
4,Corinthians,10,3,2,5,10,20,-10,11

Exportando o arquivo para um planilha em Excel

In [45]:
df.to_excel('dados/campeonato_futebol.xlsx', index=False)